<h1>Entrar com token</h1>

<% if flash[:error] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:error] %>
  </div>
<% end %>

<%= form_with url: verify_token_session_path do |form| %>
  <%= hidden_field_tag :user_id, @user.id %>
  <div class="form-group">
    <%= form.label :token %>
    <%= form.text_field :token, autofocus: true %>
  </div>
  <%= submit_tag 'Verificar token', class: 'btn btn-primary' %>
<% end %>
