<h1>Entrar com token</h1>

<% if flash[:error] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:error] %>
  </div>
<% end %>

<%= form_with url: verify_token_session_path do |form| %>
  <% if @token %>
    <h2>Seu token de login é: <%= @token.login_token %></h2>
  <% else %>
    <h2>Nenhum token de login encontrado.</h2>
  <% end %>
  <%= hidden_field_tag :phone, @token.user.phone %>
  <div class="form-group">
    <%= form.label :token %>
    <%= form.text_field :token, autofocus: true %>
  </div>
  <%= submit_tag 'Verificar token', class: 'btn btn-primary' %>
<% end %>
