<h1>Login</h1>

<%= form_with(url: login_path, method: :post) do |f| %>
  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :phone, 'Telefone' %>
    <%= f.text_field :phone, class: 'form-control' %>
  </div>

  <%= f.submit 'Entrar', class: 'btn btn-primary' %>
<% end %>
