
<div class="container">
  <%= form_with url: users_path, method: :get, data: { turbo_frame: 'search',
                                                        controller: 'search',
                                                        action: 'keyup->search#perform' } do |f| %>
    <%= f.label :query, "Pesquise pelo nome" %>
    <%= f.text_field :query, value: params[:query] %>
  <% end %>
</div>
<%= turbo_frame_tag 'search' do %>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Telefone</th>
        <th>CPF</th>
        <th>Gênero</th>
        <th>Visitas</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.first_name %> <%= user.last_name %></td>
          <td><%= user.email %></td>
          <td><%= user.phone %></td>
          <td><%= user.cpf %></td>
          <td><%= user.gender %></td>
          <td><%= visit_count(user) %></td>
          <td><%= link_to 'Editar', edit_user_path(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
    <%= will_paginate @users %>
<% end %>
