<div class="card-base-users">
  <div class="card">
    <h5 class="card-header">Lista de Usuários</h5>
    <div class="card-body">
      <div class="container">
        <%= form_with url: users_path, method: :get, data: { turbo_frame: 'search',
                                                              controller: 'search',
                                                              action: 'keyup->search#perform' } do |f| %>
          <%= f.label :query, "Pesquise pelo nome" %>
          <%= f.text_field :query, value: params[:query] %>
        <% end %>
      </div>
      <%= turbo_frame_tag 'search' do %>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Avatar</th>
              <th>Nome</th>
              <th>Tipo de Perfil</th>
              <th>Visitas</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td>
                  <% if user.avatar? %>
                    <%= image_tag(user.avatar_url, class: 'user-avatar center-cel') %>
                  <% else %>
                    <%= image_tag('no-profile-picture-icon.png', class: 'user-avatar center-cel') %>
                  <% end %>
                </td>
                <td><%= user.first_name %> <%= user.last_name %></td>
                <td><%= User::PROFILE_TYPES.values[user.profile_type] %></td>
                <td><%= visit_count(user) %></td>
                <td><%= link_to 'Mostrar', profile_path(user.uuid), "data-turbo-frame": "users-edit-frame", onclick: "window.location.href='#{profile_path(user.uuid)}'; return false;" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
          <%= will_paginate @users %>
      <% end %>
    </div>
  </div>
</div>
