<h1>Editar atividade</h1>

<%= form_for @activity do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :category_id %>
    <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  </div>

  <div>
    <%= f.label :status_id %>
    <%= f.collection_select(:status_id, Status.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<p>Criado por: <%= @activity.user.first_name + ' ' + @activity.user.last_name %></p>
<%= link_to "Voltar para a lista de atividades", activities_path %>
