<h1>Lista de Atividades</h1>
<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Descrição</th>
      <th>Categoria</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.title %></td>
        <td><%= activity.description %></td>
        <td><%= activity.category.name %></td>
        <td><%= activity.status.name %></td>
        <td><%= link_to "Mostrar", activity_path(activity.code) %></td>
        <td><%= link_to "Editar", edit_activity_path(activity.code) %></td>
      </tr>
    <% end %>
  </tbody>
  <td><%= link_to "Adicionar Atividade", new_activity_path %></td>
</table>
